{% extends "base.html" %}

{% block title %}
Recipe Confirmation
{% endblock %}

{% block content %}
<main>
    <section class="confirmation-title-section">
        <h1 class="confirmation-title">Recipe Overview</h1>
    </section>
    
    <section class="confirmation-section">
        <section class="confirmation-section">
            <div class="confirmation-container">
                <!-- Linker sectie: Informatie -->
                <div class="confirmation-details">
                    <h2>{{ title.capitalize() }}</h2>
                    <p><strong>Region:</strong> {{ region.capitalize() }}</p>
                    <p><strong>Duration:</strong> {{ duration }} minutes</p>
                    <p class="price">${{ price }}</p>
                    <h3>Description:</h3>
                    <p>{{ description }}</p>
                    <h3>Ingredients:</h3>
                    <p>{{ ingredients }}</p>
                    <h3>Steps:</h3>
                    <p>{{ steps }}</p>
                    <form method="POST" action="{{ url_for('routes.add_recipe_confirmation') }}">
                        <button type="submit" class="btn-submit">Submit Recipe</button>
                    </form>
                </div>
               
            <!-- Rechter sectie: Afbeelding -->
            <div class="confirmation-image">
                <img src="{{ url_for('static', filename='uploads/' + (image_url if image_url else 'placeholder.jpg')) }}" alt="Recipe Image">
            </div>         
        </div>
    </section>
</main>
{% endblock %}
