{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<section class="dashboard">
    <div class="container">
        <div class="row">
            <!-- Welcome Section -->
            <div class="col-sm-4">
                {% if username %}
                <h3>Welcome, {{ username }}!</h3>
                <form action="{{ url_for('main.logout') }}" method="post">
                    <button class="btn btn-danger" type="submit">Logout</button>
                </form>
                {% endif %}
            </div>

            <!-- Add Recipe Section -->
             <div class="col-sm-4">
                <h2>Add Recipes</h2>
                <a href="{{ url_for('routes.add_recipe_title') }}" class="btn btn-primary">Add Recipe</a>
            </div>


            <!-- User Listings Section -->
            <div class="col-sm-4">
                {% if listings %}
                <h2>Your Listings</h2>
                <a href="{{ url_for('main.add_listing') }}" class="btn btn-primary mb-3">Add Listing</a>
                <ul class="list-group">
                    {% for listing in listings %}
                    <li class="list-group-item">{{ listing.listing_name }} - ${{ "%.2f"|format(listing.price) }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No listings available. Add your first listing now!</p>
                {% endif %}
            </div>

            <!-- All Listings Section -->
            <div class="col-sm-4">
                <h2>All Listings</h2>
                <a href="{{ url_for('main.listings') }}" class="btn btn-success">View All Listings</a>
            </div>
        </div>

        <!-- Not Logged In Section -->
        {% if not username %}
        <div class="row mt-4">
            <div class="col">
                <h1>You are not logged in</h1>
                <a href="{{ url_for('main.login') }}" class="btn btn-primary">Login</a>
                <a href="{{ url_for('main.register') }}" class="btn btn-secondary">Register</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
