{% extends "auth_layout.html" %}
{% block content %}
    <div class="container">
        <div class="box">
            <h1>Welcome To Plant Sitting!</h1>
            <p class="text">Enter your name to get started:</p>
            <form method="POST" action="{{ url_for('main.login') }}">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.username(class="input-field", placeholder="Enter your name") }}
                </div>
                <div class="checkbox">
                        {{ form.remember }} Remember Me
                </div>
                <div>
                    {{ form.submit(class="btn") }}
                </div>
            </form>
            <p class="link">
                <a href="{{ url_for('main.register') }}">I don't have an account yet</a>
            </p>
        </div>
    </div>
{% endblock %}